* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #7f8c8c;
    font-family: Arial;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    width: 100%;
    background-color: #76c7c0;
    display: flex;
    background-image: url("images/images/path_42.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header_logo {
    text-transform: uppercase;
    vertical-align: middle;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 12%;
}

nav {
    margin-left: 30%;
    margin-top: 46px;
    text-transform: uppercase;
}

.topnav {
    display: flex;
    justify-content: space-around;
    }

select {
    background-color: #62a29e;
    color: white;
    border: 1px solid #62a29e;
    border-radius: 7px 7px 7px 7px;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

.header_logo b {
    font-size: 40px;
}

.main_portfolio {
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    color: #7f8c8c;
    padding: 30px 0px 30px 0px;
}

.main_portfolio h1 {
    font-size: 28px;
    margin-left: 13%;
}

.main_portfolio p {
    margin-right: 40px;
}

.main_about {
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
}

.main_right {
    width: 45%;
    float: left;
    margin-left: 80px;
}

.main_left {
    width: 45%;
    float: right;
    margin-top: 50px;
}

.main_img {
    display: flex;
    flex-direction: column;
}

.main_img img {
    height: 300px;
    width: 450px;
    margin: 20px 0px 20px 0px;
}

button {
    background: grey;
    color: white;
    padding: 7px 3px 7px 3px;
    margin: 20px 7px 20px 7px;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main_button button {
    background: grey;
    color: white;
    padding: 7px 3px 7px 3px;
    margin: 20px 7px 20px 7px;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
}

.main_button button:hover {
    background: #62a29e;
    cursor: pointer;
}


section {
    margin-top: 20px;
}

section img {
    background: #528b86;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.section_nav button {
    background-color: #76caca;
    padding: 10px;
    border: 1px solid #76caca;
    cursor: pointer;
}

.section_nav button:hover {
    background: #e8645a;
}

.section_nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.section_nav img {
    height: 30px;
    width: 30px;
}

section a {
    margin-right: 350px;
    margin-top: 5px;
    font-size: 20px;
    color: #7f8c8c;
    font-family: "OpenSans", "Arial";
}

 section img:hover {
    background-color: #e8645a;
    cursor: pointer;
}

section a:hover {
    color: #e8645a;
}

section h1 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 100px;
}

.section_nav {
    margin-bottom: 70px;
}

.section_nav_bottom {
    display: flex;
    justify-content: center;
}

.navigation {
    padding-left: 40%;
    background-color: #f3f3f3;
}

.navigation button {
    display: inline-flex;
    justify-content: space-between;
    color: white;
    background: grey;
    padding: 10px;
    margin: 10px 5px 10px 5px;
    border: 1px solid grey;
    border-radius: 5px 5px 5px 5px;
}

.navigation button:hover {
    background:#e5655d;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #76c7c0;
    background-image: url(images/images/path_3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

em {
    font-family: 'Courgette', cursive;
}

.company {
    width: 30%;
    color: white;
    padding-top: 35px;
}

.company h1 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.company p {
    margin: 20px 10px 20px 10px;
}


.company li {
    margin: 10px 5px 10px 5px;
}

.blog img {
    display: flex;
    align-content: space-between;
    height: 80px;
    width: 80px;
    margin-top: 10px;
} 


.blog_text {
    padding: 10px 0px 0px 15px;
}

#blog_p {
    font-size: 28px;
    color: white;
    padding-top: 20px;
}

#footer {
    display: flex;
    justify-content: space-between;
}

.modus {
    margin-top: 40px;
}

.about_blog {
    display: flex;
    flex-direction: row;
}

.company h2 {
  color: #3b6360;    
}

.company a {
    color: white;
}

.bottom {
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #6ab3ac;
    align-items: center;
    height: 60px;

}
.bottom p {
    margin-left: 55px;
}
.fb_img {
    margin-right: 55px;
}
.fb_img img {
    margin-right: 10px;
}

@media screen and (max-width: 1500px){
    .nav {
        display: flex;
        flex-direction: column;
    }
    
    .main_about {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .main_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

     .footer_wrap {
        display: flex;
        flex-direction: column;
        margin-left: 300px;
    }
}

@media screen and (max-width: 660px){
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main_nav {
        margin-right: 60px;
    }
    
    .header_logo p {
        font-size: 16px;
    }
    
    .main_portfolio {
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    
    .main_portfolio h1 {
        margin-right: 100px;
    }
    
    .main_portfolio p {
        margin-left: 100px;
        margin-top: 20px;
    }
    
    .main_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
   .main_button {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
   }
    
   .main_img {
       align-items: center;
   }
    
   .main_left {
       align-items: center;
       margin-left: 50px;
   }
    
   .section_nav {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    
  .section_nav a {
      margin: 20px 0px 20px 0px;
  }
    
  
  #footer {
      margin-left: 60px;
      align-items: center;
  }
    
   }
